{% extends "layout.twig" %}

{% block content %}
    <h1>Rick and Morty Characters</h1>
    {% if cards is empty %}
        <h1>No results found. Please try again!</h1>
    {% else %}
        {% for card in cards %}
            <div class="card">
                <img src='{{ card.imgurl }}' alt='{{ card.name }}'>
                <div class="card-info">
                    <h2>{{ card.name }}</h2>
                    <h3>Status: {{ card.status }}</h3>
                    <h3>Species: {{ card.species }}</h3>
                    <h3>Origin: {{ card.origin }}</h3>
                    <h3>Last known location: {{ card.location }}</h3>
                    <h3>First seen in: {{ card.episode.getName }}</h3>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="load-more-less">
        {% if page > 1 %}
            <form method="get" action="/characters" name="page">
                <button name="page" value="{{ page -1 }}">Previous page</button>
            </form>
        {% endif %}
        {% if page < 42 %}
            <form method="get" action="/characters" name="page">
                <button name="page" value="{{ page + 1 }}">Next page</button>
            </form>
        {% endif %}
    </div>
{% endblock %}